---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';

import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import SideBarLayout from '@/layouts/SideBarLayout';
---

<Layout title="LayOffer">
  <SideBarLayout>
    <Header />
    <main>
      <Footer />
    </main>
  </SideBarLayout>
</Layout>
