---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="GitCharts - GitHub Statistics">
  <footer class="text-center py-8">
    <p class="text-sm text-gray-500">© 2025 Laoffer</p>
  </footer></Layout
>
