---
import Layout from '@/layouts/Layout.astro';
import { FileStack } from 'lucide-react';
---

<Layout title="Layoffer">
  <header class="py-8 w-3/4 mx-auto container">
    <div class="flex gap-2">
      <FileStack />
      <h1>LayOffer</h1>
    </div>
  </header></Layout
>
