---

---

<div>
  {/* CTA Section: Boxed Brand With Image */}
  <div class="overflow-hidden bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
      <div class="relative">
        <div
          class="absolute inset-0 -m-10 -rotate-2 rounded-xl bg-blue-50 dark:bg-blue-950"
        >
        </div>
        <div
          class="absolute inset-0 -m-10 rotate-1 rounded-xl bg-blue-800/75 shadow-inner dark:bg-blue-900/75"
        >
        </div>
        <div
          class="relative rounded-lg bg-white/95 p-8 text-center shadow-sm backdrop-blur-xs sm:p-12 lg:px-16 lg:py-20 dark:bg-gray-950/20 dark:shadow-none"
        >
          <div class="space-y-8">
            <img
              src="https://cdn.tailkit.com/media/placeholders/photo-QBpZGqEMsKg-1500x960.jpg"
              class="mx-auto -mt-24 rounded-lg shadow-xl sm:-mt-40 lg:w-2/3"
              alt="Team Image"
            />
            {/* Heading */}
            <div class="text-center">
              <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                We are hiring
              </h2>
              <h3
                class="mx-auto text-xl leading-relaxed font-medium text-gray-700 lg:w-2/3 dark:text-gray-300"
              >
                Send us your CV today and get ready to be part of our talented
                team!
              </h3>
            </div>
            {/* END Heading */}

            {/* Actions */}
            <div
              class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-center sm:gap-3"
            >
              <a
                href="#"
                class="inline-flex items-center justify-center gap-2 rounded-lg border border-blue-700 bg-blue-700 px-8 py-4 leading-6 font-semibold text-white hover:border-blue-600 hover:bg-blue-600 hover:text-white focus:ring-3 focus:ring-blue-400/50 active:border-blue-700 active:bg-blue-700 dark:focus:ring-blue-400/90"
              >
                <span>Apply for a job</span>
                <svg
                  class="hi-mini hi-arrow-right inline-block size-5 opacity-50"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                  ></path>
                </svg>
              </a>
            </div>
            {/* END Actions */}
          </div>
        </div>
      </div>
    </div>
  </div>
  {/* END CTA Section: Boxed Brand With Image */}
</div>
